.ant-message {
  top: 50px !important;
}

.ant-message-notice-content {
  min-width: 350px !important;
  font-size: 35px !important;
  padding: 29px 40px !important;
}
.nav-title {
  background-image: linear-gradient(
    90deg,
    #030c7f 0%,
    rgb(108, 37, 138) 44%,
    rgb(213, 107, 71) 77%,
    rgb(201, 161, 16) 100%
  );
  -webkit-background-clip: text;
  background-clip: text; // Standard property for modern browsers
  -webkit-text-fill-color: transparent;
  color: transparent; // Fallback for browsers that don't support -webkit-text-fill-color
  display: inline-block; //
}
.logo {
  color: #050c6c;
  font-size: 47px;
  // margin-bottom: 13px;
}
.slogan {
  color: #8b9fc3;
  margin-top: -15px;
  margin-bottom: 2px;
}
.labels {
  color: #0d114e;
}
.selected_tab {
  border-bottom: 2.5px solid #041586 !important;
  color: #040d8e !important;
  border-radius: 0 !important;
  font-weight: 500 !important;
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  &:hover {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
  }
}
.unselected_tab {
  border-bottom: 2px solid #e0e0f2 !important;
  border-radius: 0 !important;
  color: #5f6590 !important;
  background-color: #96a2ac;
}

@media (max-width: 991px) {
  .slogan {
    font-size: 11px;
  }
}

/* Small devices (landscape phones, ≥576px) */
@media (min-width: 992px) and (max-width: 1450px) {
  .slogan {
    font-size: 13px;
  }
}
